*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
footer{
    padding: 80px;
    background-color: #ebf2fa;
}

.footer-container{
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.link-column{
    flex: 0 0 270px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 3rem;
}
.link-column a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link-column h4{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width:679px){
    
footer{
    background-color: peru;
}
.footer-container{
    align-items: center;
    justify-content: center;
}
.link-column{
    flex: 0 0 100%;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 3rem;
}
}